 input::placeholder {
    color: #888;
    font-style: italic;
    font-size: 0.9rem;
}
 
 .hover-float {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
 }
 .hover-float:hover {
    transform: translateY(-4px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
 }

 .hero-index {
    background: linear-gradient(
    135deg,
    rgb(18, 35, 53) 0%,
    rgb(13, 27, 40) 100%
);
    padding: 100px 0;

.hero-image {
    padding-top: 150px;
    padding-left: 230px;
    
}
.btn-3 {
    background-color: rgb(201, 168, 76);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    padding: 15px 40px;
}

.btn-3:hover {
    transform: translateY(-4px);
    background-color: rgb(201, 168, 76);
    color: rgb(0, 0, 0);
  
}

 .btn-4 {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(207, 202, 202);
    border: 1.45px solid;
    border-color: rgb(96, 96, 96);
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    padding: 15px 30px;
 }

 .btn-4:hover {
    border-color: #ffffff;
 }
 }

 .big-txt {
    font-size: 67.2px;
    font-family: serif;
    font-weight: bold;
    line-height: 1.2;
 }

 .special-txt-1{
    font-family: serif;
    font-style: italic;
    font-size: 67.2px;
    color: rgb(201, 168, 76);
 }

 .special-txt-2{
    font-size: 14px;
    color: rgb(201, 168, 76);
 }

.small-text {
    font-size: 0.85rem;
    color: rgb(104, 114, 124);
}

.navbar {
    background-color: rgb(13, 27, 42);
    padding-left: 60px;
    padding-right: 30px;
    border-bottom: 1px solid;
    border-color: rgb(30, 49, 71);    
    
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-link {
    color: rgb(188, 184, 184) !important;
    
}

.nav-links-pg-1 {
    display: flex;
    align-items: center;
}

.btn-1 {
    color: rgb(186, 141, 61);
    border: 1px solid rgb(186, 141, 61);
    border-radius: 5px;
    padding: 10px 10px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-1:hover {
    transform: translateY(-1px);
    background-color: rgb(186, 141, 61);
    color: rgb(0, 0, 0);
}

.btn-5{
    background-color: rgb(201, 168, 76);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    padding: 5px 60px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}

.btn-5:hover{
    transform: translateY(-2px);
    background-color: rgb(216, 192, 124);
    color: rgb(0, 0, 0);
}

.card {
    background-color: rgb(248, 245, 239);
    border: none;
    border-radius: 15px;  
}

.card-img {
    width: 40px;
    height: auto;
    border-radius: 3px;
}

.ready {
    background-color: rgb(240, 235, 224);
    padding: 60px 0;
}

.footer {
    background-color: rgb(13, 27, 42);
    color: white;
    padding: 20px 0;
    
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    height: 30px;
    width: 50px;
}

.list-unstyled a {
    color: rgb(104, 114, 124);
    text-decoration: none;
}

.form-1 {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    padding: 0px;
}

.sign-in-section {
    background-color: rgb(16, 30, 46);
    padding: 60px 0;
}

.form-title {
    background-color: rgb(18, 46, 73);
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px 10px 0 0;
    color: white;
}

.form-body {
    padding: 30px;
    margin-left: 10px;
}

.form-label {
    font-size: 0.85rem;
    font-weight: bold;
    color: rgb(104, 114, 124);
}

.form-button {
    background-color: rgb(13, 27, 42);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
    ;
}

.btn-2:hover {
    transform: translateY(-1px);
    background-color: rgb(69, 97, 143);
    color: white;
    font-weight: bold;
}

.form-control {
    background-color: rgb(232, 240, 254);
    width: 100%;
    height: 40px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    resize: vertical;
}

.form-text {
    font-size: 0.95rem;
    color: rgb(145, 161, 172);
    margin-top: 5px;
}

.create-one-free {
    color: rgb(201, 168, 87);
    text-decoration: none;
    
}

.form-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper-13 input[type=checkbox] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkbox-wrapper-13 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkbox-wrapper-13 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkbox-wrapper-13 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkbox-wrapper-13 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
  }

  .checkbox-wrapper-13 * {
    box-sizing: inherit;
  }
  .checkbox-wrapper-13 *:before,
  .checkbox-wrapper-13 *:after {
    box-sizing: inherit;
  }

.remember_me {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 4px;
    font-size: 0.9rem;
    color: rgb(55, 56, 57);
}

.field-1, .field-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}



.form-label {
    margin-bottom: 5px;
}



.name-fields {
    display: flex;
    gap: 25px;
    
}

.form-2 {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    padding: 0px;
    width: 550px;
}