 .hover-float {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
 }
 .hover-float:hover {
    transform: translateY(-4px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
 }

 .hero-index {
    background-color: rgb(16, 30, 46);
    padding: 100px 0;
 }

 .big-txt {
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 1.2;
 }

.small-text {
    font-size: 0.85rem;
    color: rgb(104, 114, 124);
}

.navbar {
    background-color: rgb(13, 27, 42);
    padding-left: 60px;
    padding-right: 30px;
    border-bottom: 2px solid;
    border-color: rgb(30, 49, 71);    
    
}

.navbar-brand,
.nav-link {
    color: white !important;
    
}

.card {
    background-color: rgb(248, 245, 239);
    border: none;
    border-radius: 15px;  
}

.ready {
    background-color: rgb(240, 235, 224);
    padding: 60px 0;
}

.footer {
    background-color: rgb(13, 27, 42);
    color: white;
    padding: 20px 0;
    
}

.list-unstyled a {
    color: rgb(104, 114, 124);
    text-decoration: none;
}