 input::placeholder {
    color: #888;
    font-style: italic;
    font-size: 0.9rem;
}

button {
    all: unset;
}
 
 .hover-float {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
 }
 .hover-float:hover {
    transform: translateY(-4px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
 }

 .hero-index {
    background: linear-gradient(
    135deg,
    rgb(18, 35, 53) 0%,
    rgb(13, 27, 40) 100%
);
    padding: 100px 0;

.hero-image {
    padding-top: 150px;
    padding-left: 230px;
    
}


.btn-3 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15.2px;
    background-color: rgb(201, 168, 76);
    color: RGB(13, 27, 42);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    transition: all 0.1s ease;
    padding: 15px 40px;
}

.btn-3:hover {
    transform: translateY(-3px);
    background-color: rgb(158, 140, 90);
    color: rgb(0, 0, 0);
  
}

 .btn-4 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15.2px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(207, 202, 202);
    border: 1.45px solid;
    border-color: rgb(96, 96, 96);
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    padding: 15px 30px;
 }

 .btn-4:hover {
    border-color: #ffffff;
 }
 }

.statistics{
    font: sans-serif;
    font-size: 25.6px;
    font-weight: 700;
}

 .big-txt {
    font-size: 67.2px;
    font-family: serif;
    font-weight: bold;
    line-height: 1.2;
 }

 .special-txt-1{
    font-family: serif;
    font-style: italic;
    font-size: 67.2px;
    color: rgb(201, 168, 76);
 }



 .special-txt-2{
    font-size: 14px;
    color: rgb(201, 168, 76);
 }

.special-txt-3 {
    color: rgb(13, 27, 42);
    font-family: serif;
    font-size: 41.6px;
    font-weight: 700;
}

.special-txt-4 {
    color: RGBA(33, 37, 41, 0.75);
    font-family: sans-serif;
    font-size: 16px;

}


.small-text {
    font-size: 0.85rem;
    color: rgb(104, 114, 124);
}

.navbar {
    background-color: rgb(13, 27, 42);
    padding-left: 60px;
    padding-right: 30px;
    border-bottom: 1px solid;
    border-color: rgb(30, 49, 71);    
    
}

.navbar-brand {
    font-family: serif;
    color: white !important;
    font-weight: 700;
    font-size: 25.6px;
    letter-spacing: -0.512px;
}

.navbar-brand-footer {
    color: white !important;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
}

.btn-6 {
    font-family: sans-serif;
    font-size: 14.4px;
    font-weight: bold;
    color:#adadad;
    text-decoration: none;
    padding: 12px 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    border-radius: 6px;
}

.btn-6:hover {
    background-color: rgb(23, 42, 61);
    color:#adadad
}

.nav-links-pg-1 {
    display: flex;
    justify-content: space-between;
}

.btn-1 {
    color: rgb(186, 141, 61);
    border: 1px solid rgb(186, 141, 61);
    border-radius: 5px;
    padding: 10px 10px;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 7.2px 12px;
}

.btn-1:hover {
    transform: translateY(-1px);
    background-color: rgb(186, 141, 61);
    color: rgb(0, 0, 0);
}

.btn-5{
    background-color: rgb(201, 168, 76);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    padding: 5px 60px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-family: sans-serif;
    font-weight: 600;
}

.btn-5:hover{
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgb(216, 192, 124);
    color: rgb(0, 0, 0);
}

.card {
    background-color: rgb(248, 245, 239);
    border: none;
    border-radius: 15px;  
}

.card-title {
    font-family: Playfair Display,serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.card-body {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;


}

.card-img {
    width: 40px;
    height: auto;
    border-radius: 3px;
}

.ready {
    background-color: rgb(240, 235, 224);
    padding: 60px 0;
}

.footer {
    background-color: rgb(13, 27, 42);
    color: white;
    padding: 20px 0;
    
}

.btn-social{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.footer-text {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12.25px;
    color: rgb(104, 114, 124);
}

.list-unstyled a {
    color: rgb(104, 114, 124);
    text-decoration: none;
    transition: all 0.3s ease;
}

.list-unstyled a:hover {
    color: rgb(186, 141, 61);
}

.footer-title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12.25px;
    color: RGBA(255, 255, 255, 0.6);
}

.form-1 {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    padding: 0px;
}



.sign-in-section {
    margin-right: 0px;
}

.form-title {
    background-color: rgb(18, 46, 73);
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px 10px 0 0;
    color: white;
}

.form-body {
    text-align: left;
    padding: 30px;
    margin-left: 10px;
}

.form-label {
    font-size: 0.85rem;
    font-weight: bold;
    color: rgb(104, 114, 124);
}

.form-button {
    background-color: rgb(13, 27, 42);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-2:hover {
    transform: translateY(-1px);
    background-color: rgb(69, 97, 143);
    color: white;
    font-weight: bold;
}

.form-control {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
    padding: 12px;
    border: 1.4px solid #e1e1e1;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    resize: vertical;
}

.form-text {
    font-size: 0.95rem;
    color: rgb(145, 161, 172);
    margin-top: 5px;
}

.create-one-free {
    color: rgb(201, 168, 87);
    text-decoration: none;
    
}

.form-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper-13 input[type=checkbox] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkbox-wrapper-13 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkbox-wrapper-13 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkbox-wrapper-13 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkbox-wrapper-13 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
  }

  .checkbox-wrapper-13 * {
    box-sizing: inherit;
  }
  .checkbox-wrapper-13 *:before,
  .checkbox-wrapper-13 *:after {
    box-sizing: inherit;
  }

.remember_me {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 4px;
    font-size: 0.9rem;
    color: rgb(55, 56, 57);
}

.field-1, .field-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}



.form-label {
    margin-bottom: 5px;
}



.name-fields {
    display: flex;
    gap: 25px;
    
}

.form-2 {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    padding: 0px;
    width: 550px;
}

/* PAGE 2 STYLES *//* PAGE 2 STYLES *//* PAGE 2 STYLES *//* PAGE 2 STYLES *//* PAGE 2 STYLES *//* PAGE 2 STYLES *//* PAGE 2 STYLES *//* PAGE 2 STYLES *//* PAGE 2 STYLES */

.btn-7 {
font-family: sans-serif;
font-size: 14.4px;
font-weight: 500;
color:#ffffff;
background-color: rgb(32, 45, 59);
text-decoration: none;
padding: 5px 12px;
padding-top: 10px;
padding-bottom: 10px;
margin-right: 20px;
border-radius: 6px;
}

.btn-7:hover {
background-color: rgb(24, 35, 48);
color:#adadad
}

.btn-username{
    margin-right: 5px;
    text-decoration: none;
    padding: 5px 5px;
    border: 2px solid rgb(200,167,76);
    border-radius: 43px;
    font-size: 12.4px;
    font-weight: 100;
    color: rgb(200,167,76);
}   

.nav-icon {
    width: 15px;
    height: 15px;
    margin-bottom: 6px;
    padding-bottom: 0px;
}
.btn-dropdown_nav{
    border-radius: 8px;
    background-color: rgb(13, 27, 42);
    color: #cacaca;
    font-family: sans-serif;
    font-size: 14.4px;
    padding: 10.2px 12px;
}

.btn-dropdown_nav:hover {
    background-color:rgb(32, 45, 59);
    color:#adadad
}

.dropdown-menu {
    padding-right: 0px;
    margin-right: 30px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.dropdown-item {
    margin-left: px;
    font-family: sans-serif;
    width: 100%;
    font-size: 14.08px;
    padding: 6px 30px;
}

.dropdown-item-exit {
    text-decoration: none;
    margin-left: px;
    font-family: sans-serif;
    font-size: 14.08px;
    padding: 6px 30px;
}

.dropdown-item-exit:hover {
    background-color: rgb(249, 230, 229);
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: rgb(248, 245, 239);
    border-radius: 5px;
}

.dropdown-icon {

    margin-bottom: 6px;
    width: 15px;
    height: 15px;

}


.post{
    margin-left: 100px;
    margin-top: 100px;
    padding: 24px;
    height: 180px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.five-hundred {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:rgb(117, 125, 133);
    margin-left: 70px;
    margin-bottom: 40px;
    padding-top: 10px;
}

.btn-post{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    color:rgb(13, 27, 42);
    background-color: rgb(201, 168, 76);
    text-decoration: none;
    padding: 8.8px 24px;
    margin-left: 540px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    border-radius: 6px;

    transition: all 0.3s ease;
}

.btn-post:hover {
    background-color: rgb(216, 192, 124);
    transform: translateY(-4px);
}

.body-control {
    background-color: rgb(248, 249, 250);
    width: 100%;
    height: 40px;
    padding: 12px;
    border: 0px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    resize: vertical;
}

.body-control:focus {
    outline: none;
    border: 4px solid rgb(184, 227, 250);
}
.body-control::placeholder {
    color: rgb(91, 95, 99);
    font-size: 15.2px;
    font-family: sans-serif;
}

.view-profile-card{
    margin-top: 100px;
    padding: 24px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-view-profile{
    margin-left: 23px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:rgb(117, 125, 133);
    border: 1px solid rgb(117, 125, 133);
    padding: 7px 60px;
}

.btn-view-profile:hover{
    background-color: rgb(117, 125, 133);
    color:white;
}

.quick-links-card{
    justify-content: center;
    padding: 24px;
    height: 140px;
    margin-top: 30px;
    margin-left: 135px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.QL-title{
    color:rgba(33, 37, 41, 0.75);
    font-family: "DM Sans", sans-serif;
    font-size: 11.52px;
    letter-spacing: 0.576px;
    font-weight: 600;
}

.btn-quick-link_1{
    margin-top: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:rgb(108, 117, 125);

    transition: all 0.3s ease;
}

.btn-quick-link_1:hover{
    color:rgb(151, 155, 158);
}

.btn-quick-link_2{
    margin-top: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:rgb(220, 53, 69);

    transition: all 0.3s ease;
}

.btn-quick-link_2:hover{
    color:rgb(214, 120, 120);
}

.footer-pg2 {
    margin-top: 100px;
    background-color: rgb(13, 27, 42);
    color: white;
    padding: 20px 0;
    
}

.post-table {
    margin-left: 90px;
    width: 100%;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 1px 3px 6px 0px;

    transition: all 0.2s ease;
}

.post-table:hover {
    transform: translateY(-2px);
    box-shadow: rgba(99, 99, 99, 0.2) 1px 9px 16px 0px;
}

.post-avatar {
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-author {
    margin-top: 25px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.post-names{
    color: rgb(13, 27, 42);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.post-username{
    color: rgba(33, 37, 41, 0.75);
    font-size:15px;
    font-weight: 400;
}

.post-body{
    color: rgb(44, 44, 44);
    margin-top: 5px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.post-timestamp{
    margin-top: -55px;
    margin-left: 400px;
    color: rgba(33, 37, 41, 0.75);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.clock-icon{
    width: 17px;
    height: 17px;
    margin-right: 3px;
    margin-top: -2px;
}


/* Profile page styles *//* Profile page styles *//* Profile page styles *//* Profile page styles *//* Profile page styles */

.profile-card{
    height: 220px;
    width : 740px;
    margin-top: 115px;
    padding: 0px;
    margin-left: 210px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-card-background{
    height: 50%;
    width: 100%;
    background-image: linear-gradient(
    135deg,
    #0a1c31 0%,    /* Deep dark blue (matches background) */
    hsl(215, 37%, 21%) 40%,   /* Fading dark navy transition */
    #25425a 65%,   /* Mid olive-gold blend */
    rgb(181,156,78) 100%   /* Final warm gold/khaki end */
  );
    border-radius: 10px 10px 0px 0px;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #ffffff; /* White border creates a clean separation */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  
  /* Pull the avatar up over the boundary */
  margin-top: -40px; /* Half of its height */
  margin-left: 25px; /* Adjust horizontal position */
  margin-bottom: 0px;
  
  position: relative; /* Ensures it stays layered on top */
  z-index: 2;
}

.btn-edit-profile{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:rgb(108,117,125);
    border: 1px solid rgb(108,117,125);
    margin-left: 330px;
    margin-top: 30px;
    padding: 4px 25px;
}

.btn-edit-profile:hover{
    background-color: rgb(108,117,125);
    color:white;
}

.img-edit-profile-btn {
    margin-left: 0px;
    width: 15px;
    height: 15px;
    vertical-align: middle; /* Aligns the icon with the text */
}

.btn-edit-profile:hover .img-edit-profile-btn {
    filter: brightness(0) invert(1); /* Invert the image color to white */
}




.profile-posts{
    margin-left: 210px;
    margin-top: 55px;
}

.profile-post-table {
    margin-left: 240px;
    width: 700px;
    height: 110px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 1px 3px 6px 0px;

    transition: all 0.2s ease;
}

.profile-post-table:hover {
    transform: translateY(-2px);
    box-shadow: rgba(99, 99, 99, 0.2) 3px 9px 16px 4px;
}

.profile-post-body{
    color: rgb(44, 44, 44);
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.profile-post-timestamp{
    color: rgba(33, 37, 41, 0.75);
    margin-left: 20px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* Edit Profile Styles *//* Edit Profile Styles *//* Edit Profile Styles *//* Edit Profile Styles *//* Edit Profile Styles *//* Edit Profile Styles */

.hero-edit-profile{
    margin-top: 110px;
    margin-left: 330px;
}

.btn-back{
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(108,117,125);
    border: 1px rgb(108,117,125) solid;
    border-radius: 40px;
    padding: 7px 10px;
    margin-top: 20px;
}

.btn-back:hover{
    color: white;
    background-color: rgb(108, 117, 125);

}

.btn-back-icon{
    width: 15px;
    height: 15px;
}

.btn-back:hover .btn-back-icon{
    filter: brightness(0) invert(1);
}

.main-edit-profile{
    margin-left: 330px;
}

.edit-profile-card{
    border-radius: 10px;
    padding: 50px;
    height: 780px;
    margin-bottom: 50px;
    width: 600px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;;
}

.btn-change-img-icon{
    width: 15px;
    height: 15px;
}

.btn-change-img{
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(108,117,125);
    border: 1px rgb(108,117,125) solid;
    border-radius: 40px;
    padding: 7px 20px;
    margin-left: 175px;
    
}

.btn-change-img:hover{
    background-color: rgb(108,117,125);
    color: white;
}

.btn-change-img:hover .btn-change-img-icon{
    filter: brightness(0) invert(1);
}

.name-fields-edit-profile{
    display: flex;
    gap: 30px;
}

.field-ep-1{
    margin-left: 0px;
}

.field-ep-2{
    margin-right: -50px;
}

.form-label-edit-profile{
    margin-left: -30px;
    margin-top: 20px;
}

.form-control-edit-profile{
    border-radius: 5px;
    border: 1px rgb(212, 215, 217) solid;
    height: 35px;
    margin-top: 7px;
    margin-left: -30px;
}

.form-bio{
    border-radius: 5px;
    border: 1px rgb(212, 215, 217) solid;
    height: 70px;
    width: 480px;
    margin-top: 7px;
    margin-bottom: 30px;
    margin-left: -30px;
}

.btn-save-changes{
    background-color: rgb(201,168,76);
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 40px;
    padding: 12px 55px;
    margin-left: -30px;
    margin-top: 20px;

    transition: all 0.3s ease;
}

.btn-save-changes:hover{
    background-color: rgb(216,192,124);
    transform: translateY(-2px);
}

.btn-cancel-changes{
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(108,117,125);
    border: 1px rgb(108,117,125) solid;
    border-radius: 40px;
    padding: 14px 25px;
    margin-top: 20px;

}

.btn-cancel-changes:hover{
    background-color: rgb(108,117,125);
    color: white;
}

.form-label-location{
    margin-left: -480px;
}

.reset_password{
    background-color: rgb(13,27,42);
}

.btn-delete{
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 430px;
}

.delete-icon {
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 5px;
}

.btn-delete-profile-pg{
    color: red;
    display: flex;
    justify-content: center;
    margin-top: -5px;
    margin-left: 575px;
}



.page-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 18px; /* Smooth pill/circle shape */
  border: 1.5px solid #e1e5eb;
  background-color: #ffffff;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  text-decoration: none;
  transition: all 0.2s ease;
}

.pagination {
  margin-left: 340px;
  margin-top: 20px;
  gap: 3px;
}

.btn_pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 35px;
  border-radius: 16px; /* Smooth pill/circle shape */
  border: 1.5px solid rgb(229,231,235);
  background-color: #ffffff;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: rgb(13,27,42);
  text-decoration: none;
  transition: all 0.1s ease;
}

.btn_pagination:hover {
  border-color: rgb(201,168,76);
  background-color: #ffffffcd;
}

.btn_pagination:active {
    border: 5px solid rgba(92, 179, 245, 0.37)
}