{% extends 'base.html' %}
{% block content %}

<section class="proflie-body">
    <div class="profile-card">
        <div class="profile-card-background">
            
        </div>
        <div class="profile-card-content">
            <div class="d-flex mb-0">
                <img src="{{ current_user.avatar(80) }}" alt="Avatar" class="rounded-circle profile-avatar">
                <p style=" margin-left: 20px; margin-bottom: 0px; font-family: sans-serif; font-size: 24px; font-weight: 700; color: rgb(33, 37, 41);">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                <a href="{{ url_for('edit_profile') }}" class="btn-edit-profile rounded-pill"> <img class="img-edit-profile-btn" src="{{ url_for('static', filename='images/grey-pencil-icon.png') }}" alt=""> Edit Profile</a>  
            </div>
            <div class="button-username">

                <p style=" margin-right: 0px; padding-right: 0px; margin-left: 132px; margin-top: -30px; color: rgba(33, 37, 41, 0.75); font-size:16px; font-weight: 400;">@{{ current_user.username }}</p>
                
            </div>
            
            

        </div>
        
    </div>

    <div class="profile-posts d-flex">
        <img style="width: 22px; height: 22px; margin-right: 10px;" src="{{ url_for('static', filename='images/gold-squares-2x2.png') }}" alt="">
        <h1 style="color: rgb(13, 27, 42); font-family: 'DM Sans', sans-serif; font-weight: 600; font-size: 20px;">Posts</h1>

        
    </div>

    {% for post in posts %}
        {% if post %}
            <table class="profile-post-table">
                <tr valign="top">
                    <td>
                        <div class="profile-post-body">{{post.body}}</div>    
                        <div class="profile-post-timestamp">{{ moment(post.timestamp).format('lll') }}</div>
                    </td>

                </tr>
            </table>
        {% endif %}                
    {% endfor %}
    <div class="pagination">
        {% if prev_url %}
            <a href="{{ prev_url }}" class="btn btn-secondary">Previous</a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}" class="btn btn-secondary">Next</a>
        {% endif %}

</section>

<!-- Start of footer section -->
        <section class="footer-pg2">
            <div class="container" style="margin-top: 50px;">
                <div class="row">
                    <div class="col-md-5">
                        <a class="navbar-brand-footer d-flex">Nova<div style="color: rgb(168, 143, 70);"><p>.</p></div></a>    
                        <p class="footer-text">A minimal space for thoughtful conversations.</p>
                    </div>

                    <div class="col-md-4 footer-links footer-text">
                        <p class="footer-title">Links</p>
                        <ul class="list-unstyled">
                            <li><a href="{{ url_for('feed') }}">Feed</a></li>
                            <li><a href="{{ url_for('profile') }}">Profile</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3">
                        <p class="footer-title">Connect</p>
                        <div class="d-flex justify-content-start">
                            <a class="btn-social" href="#"><img src="{{ url_for('static', filename='images/github-logo.png') }}" alt="GitHub" class="img-fluid"></a>
                            <a class="btn-social" href="#"><img src="{{ url_for('static', filename='images/linkedin-logo.png') }}" alt="LinkedIn" class="img-fluid"></a>
                            <a class="btn-social" href="#"><img src="{{ url_for('static', filename='images/x-logo.png') }}" alt="X" class="img-fluid"></a>
                        </div>                        
                    </div>

                            
                </div>
            </div>
            
        </section>

{% endblock %}